body,
html {
    height: 100%;
}

body {
    margin: 0px;
    background: url(imgs/Super-Mario-Bros.-Desktop.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 18px;
}

body,
a:link,
a:visited,
a:active {
    color: #336633;
}

.title {
    padding: 5px 12px;
    float: right;
}

.topbar {
    height: 32px;
    background-color: #555;
}

.title {
    background-color: #777;
}

.dancer {
    border: 10px solid red;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    position: absolute;
    transition: all 1.5s ease;
}

.rotated {
    transform: scale(2) rotate(360deg);

}

.rotater {
    background:url(imgs/mario.png) no-repeat top left;
    background-size: cover;
    height: 60px;
    width: 60px;
    position: absolute;
    transition: all 1.5s ease;   
}

.blinky {
    background:url(imgs/shell.png) no-repeat top left;
    background-size: cover;
    height: 60px;
    width: 60px;
    position: absolute;
    transition: all 1.5s ease;   
}

.bouncer {
    background:url(imgs/goomba.png) no-repeat top left;
    background-size: cover;
    height: 60px;
    width: 60px;
    position: absolute;
    transition: all 1.5s ease;   
}

.bounce {
    animation: bouncing 6.0s ease-out;

}

.grow {
    transform: scale(5);
}

/*

Navigation

*/

.logo {
    padding: 50px 10px 50px 10px;
    font: 400 40px/36px "Playfair Display", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: lowercase;
    letter-spacing: .5px;
}

.logo-container {
    float: left;
    border: 2px solid #081f2b;
    border-radius: 100px;
    margin: 10px auto;
    transform: rotate(-15deg);
}

.rotate {
    transform: skewX(10deg);
}

.primary-nav {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .5px;
}

.primary-header {
    background: #3399ff;
}

.nav {
    text-align: right;
    color: #336633;
}

.nav li {
    display: inline-block;
    margin: 10px 10px 0 10px;
    vertical-align: top;
}

.nav li:last-child {
    margin-right: 0;
}


/* used demo from http://demo.hongkiat.com/css3-bounce-effect/ */
@-webkit-keyframes bouncing {
    0% {
        -webkit-transform:translateY(-60%);
    }
    5% {
        -webkit-transform:translateY(-100%);
    }
    15% {
        -webkit-transform:translateY(0);
    }
    20% {
        -webkit-transform:translateY(-80%);
    }
    25% {
        -webkit-transform:translateY(0%);
    }
    30% {
        -webkit-transform:translateY(-70%);
    }
    35% {
        -webkit-transform:translateY(0%);
    }
    40% {
        -webkit-transform:translateY(-60%);
    }
    45% {
        -webkit-transform:translateY(0%);
    }
    50% {
        -webkit-transform:translateY(-50%);
    }
    55% {
        -webkit-transform:translateY(0%);
    }
    60% {
        -webkit-transform:translateY(-30%);
    }
    65% {
        -webkit-transform:translateY(0%);
    }
    70% {
        -webkit-transform:translateY(-15%);
    }
    75% {
        -webkit-transform:translateY(0);
    }
    80% {
        -webkit-transform:translateY(-10%);
    }
    85% {
        -webkit-transform:translateY(0);
    }
    90% {
        -webkit-transform:translateY(-5%);
    }
    95% {
        -webkit-transform:translateY(0);
    }
    100% {
        -webkit-transform:translateY(0);
    }
}

